<!doctype html>
{% extends "master.html" %}
{% block title %} | Additional Title Info. I changed this.{% endblock %}
{% block content %}




<div id="map"></div>
<script>
  var map;
  var now={{query | safe}}
  function initMap() {
  var myLatLng = {lat: now[0]['lat'], lng: now[0]['lng']};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 5,
    center: myLatLng
  });
  for (i = 0; i < now.length; i++) {


  var markLatLng = {lat: now[i]['lat'], lng: now[i]['lng']};

  var marker = new google.maps.Marker({
    position: markLatLng,
    map: map,
    title: 'Hello World!'
  });

  }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTLABfemojSm9rxvt8joDFgQzS9-mKiI8&callback=initMap"
async defer></script>


<div> Thanks!</div>
{% endblock %}
