<!doctype html>
{% extends "master.html" %}
{% block title %} | Additional Title Info. I changed this.{% endblock %}
{% block content %}

<div id="map" style="width: 45%; float:left">
   #map
</div>

<div style="width: 45%; float:right">
 <br>
 <br>
  This is going to be a table.
</div>


<HR WIDTH="100%" SIZE="6">
<script>
  var map;
  var now={{query | safe}}
  function initMap() {
  var myLatLng = {lat: now[0]['lat'], lng: now[0]['lng']};
  var markers=['blue_MarkerA.png','green_MarkerA.png','red_MarkerA.png']
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 9,
    center: myLatLng
  });
  for (i = 0; i < now.length; i++) {


  var markLatLng = {lat: now[i]['lat'], lng: now[i]['lng']};
  var marker = new google.maps.Marker({
    position: markLatLng,
    map: map,
    title: 'Hello World!'
    // icon: "http://1.bp.blogspot.com/_GZzKwf6g1o8/S6xwK6CSghI/AAAAAAAAA98/_iA3r4Ehclk/s1600/marker-green.png"
  });

  }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt-zW1COAmFDk9gSI3X3q8-bDb9Fvp5Nk&callback=initMap"
async defer></script>

<div id="map" style="width: 45%; float:left">
   <img class = "image" src="/static/valid_fig.png" style="height:400px;width:400px;">
</div>

<div style="width: 45%; float:right">
 <br>
 <br>
  The figure at left represents how these purchase decisions have done compared to the market
  since 2010. Specifically, I make a prediction using the data leading up to the date given in the y-axis
  and then project forward one year to see how that decision performed compared to the market median (red)
  and perfect decision (green).
  <br>
  <br>
  All real estate decisions are a very important and personal decision. I take no responsibility for yours.
</div>

<HR WIDTH="100%" SIZE="6">


<div; style="float:left"> Thanks!</div>
{% endblock %}
